app-message {
  
  .mat-card {
    color: #212121;
    padding: 0;
  
    .btn-col {
      text-align: right;
    }
  }

  .message-toolbar {
    padding: 12px 24px;
    width: 100%;
    cursor: pointer;
  }

  &.message-opened {
    .message-toolbar {
      border-bottom: solid 1px #e0e0e0;

      .message-subject {
        font-size: 110%;
        font-weight: 100;
      }
    }
  }

  .message-body {
    position: relative;
    padding: 20px 24px;

    .message-from {
      font-weight: bold;
    }

    .message-body-toolbar {
      margin-bottom: 10px;
    }

    .message-to {
      color: #7a7a7a;
    }

    .message-more {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

}

.message-more-menu {
  width: 200px;
}

.snooze-menu {
  width: 200px;

  h3 {
    padding: 0 15px;
    margin: 5px 0;
  }

  button {
    font-size: 85%;
  }
}